.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.productLink {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}

.listItems {
    list-style: none;
}

.productCard {
    height: 100%;
    width: 100%;
}